.hobbies{
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),rgba(0,0,0,0.6)),black;
height:150px;
width: 160px;
margin-left:270px;
position:fixed;
top: -200px;
z-index: 1;
color: white;
display: flex;
justify-content: center;

flex-direction: column;
transition:all 0.3s ease-in;
border-radius:20px;
&.active{ 
top:0px;
}
div{
    margin-top: 40px;
    width: 140px;
    p{
        margin-left: 15px;
    }
}


}